
<h2 style="margin-top: 20px;">Student</h2>
<ngx-datatable #studenrinfo class="material"
               [columnMode]="'force'"
               [headerHeight]="50"
               [footerHeight]="0"
               [rowHeight]="50"
               [rows]="row">
  <ngx-datatable-column name="Name"></ngx-datatable-column>
  <ngx-datatable-column name="StudentCard"></ngx-datatable-column>
  <ngx-datatable-column name="Group"></ngx-datatable-column>
  <ngx-datatable-column name="Faculty"></ngx-datatable-column>
  <ngx-datatable-column name="CurrentTerm"></ngx-datatable-column>
</ngx-datatable>

<h2 style="margin-top: 30px;">Grade book</h2>

<ngx-datatable #markTable
               class='material expandable'
               [rows]="rowmarks"
               [groupRowsBy]="'term'"
               [columnMode]="'force'"
               [scrollbarH]="false"
               [headerHeight]="50"
               [footerHeight]="50"
               [rowHeight]="40"
               [limit]="4"
               [groupExpansionDefault]="true">
  <!--group header template-->
  <ngx-datatable-group-header #myGroupHeader (toggle)="onDetailToggle($event)">
    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
      <div style="height: 35px; padding-left:5px; padding-top: 5px;">
        <span style="cursor: pointer;"
           [class.datatable-icon-right]="!expanded"
           [class.datatable-icon-down]="expanded"
           title="Expand/Collapse Group"
           (click)="toggleExpandGroup(group)">
          <b>Term: {{group.value[0].term}}</b>
        </span>
      </div>
    </ng-template>
  </ngx-datatable-group-header>

  <!--Row column template-->
  <ngx-datatable-column name="Term" prop="term" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Subject" prop="subject" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Teacher" prop="teacher" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Grade" prop="grade"></ngx-datatable-column>
</ngx-datatable>
