<ngb-tabset class="tabset1" (tabChange)="getContent($event)">
  
  <ngb-tab title="Teachers">
    <ng-template ngbTabContent>
        <table class='table' *ngIf="teachers">
          <thead>
            <tr>
              <th>Name</th>
              <th>Department</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teacher of teachers">
              <td>{{ teacher.name }}</td>
              <td>{{ teacher.department }}</td>
            </tr>
          </tbody>
        </table>     
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Students">
    <ng-template ngbTabContent>
      <table class='table' *ngIf="students">
        <thead>
          <tr>
            <th>Name</th>
            <th>Choose group</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; let rowIndex = index">
            <td>{{student.name}}</td>
            <td>
              <select id="facultySelect" class="form-control" (change)="setFaculty($event.target.value)">
                <option value="none" disabled>
                 Choose faculty
                </option>
                <option *ngFor="let faculty of faculties; let j = index" value={{j}}>
                  {{faculty.name}}
                </option>
              </select>
            </td>
            <td>
              <select #selectGroup class="form-control" (change)="editing[student.id] = true">
                <option value="none" disabled>
                  Choose group
                </option>
                <option *ngFor="let group of groups" value={{group.id}}>
                  {{group.name}}
                </option>
              </select>
            </td>
            <td>
              <button type="button" class="btn btn-success" id="submit" [disabled]="!editing[student.id]" (click)="setGroup(student.id, rowIndex)">Confirm</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


